# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.whl

# Editable install
src/*.egg-info/

# Generated archives
*.mbtiles
*.pmtiles

# Tile images
*.png

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.venv/

