# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.whl

# Test data
*_TMS*/
*.zip

# Generated archives
*.mbtiles
*.pmtiles

# Tile images
*.png

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.venv/

